# # Install pre-commit hooks via
# pre-commit install

# modernizer: make sure our code-base is Python 3 ready
- repo: https://github.com/python-modernize/python-modernize.git
  sha: 5650894e684250b8dd7a7d552adeea98eb8663ba
  hooks:
  - id: python-modernize
    exclude: ^docs/
    args:
      - --write
      - --nobackups

- repo: local
  hooks:
  # yapf = yet another python formatter
  - id: yapf
    name: yapf
    entry: yapf
    language: system
    types: [python]
    args: ["-i"]
    exclude: &exclude_files >
      (?x)^(
        docs/pages/2019_molsim_school_Amsterdam/assets/raspa_loading.py|
        docs/assets/2018_PRACE_MaX/latex/de-macro.py|
        docs/pages/2019_MARVEL_Psik_MaX/sections/include/snippets/.*
      )$

  # prospector: collection of linters
  - id: prospector
    language: system
    types: [file, python]
    name: prospector
    description: "This hook runs Prospector: https://github.com/landscapeio/prospector"
    entry: prospector
    exclude: *exclude_files
