language: python
python:
 - "2.7"
 - "3.6"
sudo: required

before_install:
  - sudo apt-get install pandoc

install:
  - pip install --upgrade pip
  - pip install -r docs/requirements.txt

script:
  - cd docs
  - make
  - make latexpdf
