---
---

@import "{{ site.theme }}";

body{counter-reset: section}

// Based on https://stackoverflow.com/a/535390/1069467
// Rewrite only in main_content_wrap div
//#main_content_wrap {
#disabled {

    h2{counter-reset: sub-section}
    h3{counter-reset: composite}
    h4{counter-reset: detail}

    h2:before{
      counter-increment: section;
      content: counter(section) " ";
    }
    h3:before{
      counter-increment: sub-section;
      content: counter(section) "." counter(sub-section) " ";
    }
    h4:before{
      counter-increment: composite;
      content: counter(section) "." counter(sub-section) "." counter(composite) " ";
    }
    h5:before{
      counter-increment: detail;
      content: counter(section) "." counter(sub-section) "." counter(composite) "." counter(detail) " ";
    }
}
