.aiida-green {
    color: #32B805;
    font-weight: bold;
}

.aiida-blue {
    color: #0496DE;
    font-weight: bold;
}

.aiida-orange {
    color: #FF7D16;
    font-weight: bold;
}

div.highlight-console div.highlight {
    background-color: aliceblue;
}

div.highlight-bash div.highlight {
    background-color: aliceblue;
}

.header-text {
    font-size: 18px;
    margin-bottom: 30px;
}

.large-text {
    font-size: 18px;
}

.text-right {
    text-align: right;
}

.footer-low {
    line-height: 0.5;
}
